.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.navbar_logo {
  width: 4rem;
  height: 4rem;
}

.theme_icon {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .navbar {
    margin-bottom: 1.5rem;
  }
}
