.quiz_main {
  text-align: center;
  padding: 0.5rem;
}

.quiz_details {
  display: flex;
  justify-content: space-between;
}

.quiz_header {
  margin: 1.5rem 0;
}

.quiz_options_list {
  list-style: none;
}

.quiz_option_item {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  font-size: 1.1rem;
  margin: 1rem auto;
  max-width: 18rem;
  cursor: pointer;
  padding: 1rem;
}

.quiz_option_item:hover {
  background-color: var(--option-item-hover-color);
}

.quiz_option_active,
.quiz_option_active:hover {
  background-color: var(--selected-option-color);
}

.quiz_btn {
  float: right;
}

.active_btn {
  background-color: var(--active-btn-bg-color);
  cursor: pointer;
}

.inactive_btn {
  background-color: var(--primary-color);
  cursor: not-allowed;
}

.inactive_btn:active {
  pointer-events: none;
}
