.category_card {
  max-width: 20rem;
  border-radius: 2px;
  transition: transform 0.3s;
}

.category_card:hover {
  transform: scale(1.05);
}

.category_img {
  object-fit: cover;
  width: 100%;
}

.category_details {
  background-color: var(--primary-color);
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  margin-top: -0.5rem;
  padding: 1.5rem;
}

.category_header {
  margin-bottom: 2rem;
}
