@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #b6b6b6;
  --secondary-color: #ececec;
  --selected-option-color: #a2a9ec;
  --option-item-hover-color: #aeaeae;
  --active-btn-bg-color: #292929;
  --correct-answer-color: #73d573;
  --incorrect-answer-color: #e98e8e;
}

a {
  text-decoration: none;
  color: var(--active-btn-bg-color);
}

/* THEME CHANGES */
.dark {
  --secondary-color: #292929;
  --primary-color: #4a4a4a;
  --active-btn-bg-color: #ececec;
  --option-item-hover-color: #3c3c3c;
  --selected-option-color: #4a55bb;
  --correct-answer-color: #247224;
  --incorrect-answer-color: #bc2525;
  color: var(--active-btn-bg-color);
}

.dark .navbar_logo path {
  fill: var(--active-btn-bg-color);
}
