* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #b6b6b6;
  --secondary-color: #ececec;
  --selected-option-color: #a2a9ec;
  --option-item-hover-color: #aeaeae;
  --active-btn-bg-color: #292929;
  --correct-answer-color: #73d573;
  --incorrect-answer-color: #e98e8e;
}

a {
  text-decoration: none;
  color: var(--active-btn-bg-color)
}
